.main-container {
    position: relative;
    margin-top: 565px;
    margin-bottom: 70px;
    padding-bottom: 30px;
    background-color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 0 10px #333333;
}

.page-header {
    border-bottom: 1px solid #333333;

.nav a {
    color: #333;
}

.nav .active a {
    background-color: #977b6c !important;
}

.nav-icons {
    padding: 6px !important;
}

.nav-icons:hover .fa-facebook-square {
    color: #3b5998;
}

.affix, 
.affix-top {
    z-index: 20;
    top: 0;
    background-color: #e4e4e4;
    padding: 6px 14px;
}

.affix-top {
    position: absolute;
    right: 0;
    border-top-right-radius: 8px;
}

.affix {
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 10px #333;
}

.fa-giant {
    font-size: 100px;
    text-shadow: 4px 4px 2px #999;
    width: 115px;
    text-align: center;
}