.main-container {
    margin-top: 565px;
    margin-bottom: 70px;
    padding-bottom: 30px;
    background-color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 0 10px #333333;
}

.page-header {
    border-bottom: 1px solid #333333;

.fa-giant {
    font-size: 100px;
    text-shadow: 4px 4px 2px #999;
    width: 115px;
    text-align: center;
}