body {
    background-image: url('/images/dirt.jpg');
    background-repeat: repeat;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 550px;
    background-image: url('/images/sky.png');
    background-repeat: repeat-x;
}

.grass {
    position: absolute;
    top: 440px;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100px;
    background-image: url('/images/grass.png');
    background-repeat: repeat-x;
}

.arm_shovel {
    position: absolute;
    top: 265px;
    left: 50%;
    z-index: 20;
    margin-left: -250px;
    width: 500px;
    height: 230px;
    background-image: url('/images/arm_shovel.png');
    background-repeat: no-repeat;
}