<template name="main">
    <div class="row" id="notDeadYet">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Not dead yet! <small>en legende genopstår...</small></h1>
            </div>
        </div>
        <div class="col-md-8">
            <p>Den 1. juni 2012 lukkede jeg Minecraft serveren "Sandkassen", som havde dannet hjem for mange dejlige minecraftere ude i det danske land, måske endda dig?<br>
            Der var flere grund til at jeg valgte at trække stikket, men en af de største grunde var nok at jeg ikke hyggede mig med det mere. I det hele taget følte jeg at jeg havde fået det ud af Minecraft og serveren som jeg kunne, og kom kun ind på serveren da jeg følte pligt til dette.<br>
            Men jeg har ikke glemt Minecraft og jeg har bestemt ikke glemt "Sandkassen"</p>
            <br>
            <h4>- Betyder det at "Sandkassen" nu kommer tilbage?</h4>
            <p>NEJ! det gør den ikke. "Sandkassen" var et forsøg jeg lavede med min bror Anders aka. atothec, som i bund og grund gik ud på at se om vi kunne skabe en stor dansk server med fælles minecraftere. Det lykekdes og den havde et godt liv med en masse fantastiske mennesker, og sådan slutter den historie.</p>
            <p>Jeg har længe haft lyst til at starte en ny server op og invitere alle jer gamle minecraftere, men blev konstant mindet om hvor tidskrævende det var og hvor meget arbejde jeg skulle ligge i det (sponsor aftaler, vedligeholdelse, banne folk, skælde folk ud, besvare mails, opdatere/finde nye plugins m.m.).</p>
            <p>Men nu er jeg klar igen! men det bliver også meget anderledes denne gang. Jeg skal også  spille Minecraft, jeg skal også nyde at mine og bygge grimme ting (kan ikke andet).</p>
            <br>
            <h4>- Betyder det at der kommer en ny server nu?</h4>
            <p>Det er faktisk helt op til jer!</p>
        </div>
        <div class="col-md-4">
            <img src="/images/tcarlsen_standing.png" class="img-responsive">
        </div>
    </div>
</template>