<template name="server">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Serveren <small>en ren Minecraft oplevelse</small></h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="media">
            <p class="pull-left">
                <i class="fa fa-puzzle-piece fa-giant"></i>
            </p>
            <div class="media-body">
                <h2 class="media-heading">Ingen plugins</h2>            
                <p>Som mange nok ved har jeg aldrig lagt skjul på at jeg var/er mest til den rene Minecraft oplevelse, og derfor kommer den nye server til at køre Vanilla. Altså helt uden plugins, what so ever!</p>
            </div>
        </div>
        <div class="media">
            <p class="pull-left">
                <i class="fa fa-shield fa-giant"></i>
            </p>
            <div class="media-body">
                <h2 class="media-heading">Ingen admins eller moderatore</h2>            
                <p>Denne beslutning bliver fantastisk sjov, det kan gå helt galt, men det kan fandeme også blive godt!</p>
            </div>
        </div>
        <div class="media">
            <p class="pull-left">
                <i class="fa fa-legal fa-giant"></i>
            </p>
            <div class="media-body">
                <h2 class="media-heading">Ingen regler</h2>            
                <p>Oh yes! Uden admins og moderatore kan der heller ikke være regler. Betyder det så at man skal smadre alt? Det synes jeg ikke det behøver at betyde nej. Det betyder at du skal/kan spille Minecraft som du føler man skal spille det.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="media">
            <p class="pull-left">
                <i class="fa fa-file-text fa-giant"></i>
            </p>
            <div class="media-body">
                <h2 class="media-heading">Ingen whitelist ansøgning</h2>            
                <p>Du behøver altså ikke længere være forfatter for at komme ind på serveren. Til gengæld skal du betale for at blive whitelistet.</p>
            </div>
        </div>
        <div class="media">
            <p class="pull-left">
                <i class="fa fa-heart fa-giant"></i>
            </p>
            <div class="media-body">
                <h2 class="media-heading">Brugerbestemt levetid</h2>            
                <p>En server koster penge, og jeg har nok at bruge mine egne penge på, så derfor lader jeg det være op til jer hvor længe Minecrafter.dk denne gang vil have en aktiv server.</p>
            </div>
        </div>
        <div class="media">
            <p class="pull-left">
                <i class="fa fa-money fa-giant"></i>
            </p>
            <div class="media-body">
                <h2 class="media-heading">Betal for at spille</h2>            
                <p>Du skal betale for at blive whitelistet! 80% af alle pengene vil komme i en serverpulje som vil blive brugt til at betale for serveren, de resterende 20% går til adminstartion.</p>
            </div>
        </div>
    </div>
</template>